<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig
    mustMatch="false"
    allowedReferers="*">

  <serverUrls>
    <serverUrl
      url="*"
      oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
      clientId="vOjabZKbn8LC1BxO"
      clientSecret="ccf17d76537c4cb9a7dfc41cb3d5e58c"
      rateLimit="99999"
      rateLimitPeriod="1"
      matchAll="false"/>


  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
